.create-vacant-container {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-create-vacant {
    color: #252D5F;
}

.form-create-vacant {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-create {
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-input-create {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.form-input-create label {
    color: #252D5F;
    font-weight: bold;
    font-size: 20px;
    margin: 12px;
}

.form-input-create strong {
    color: #FF5C78;
}

.place-create {
    margin: 10px;
}

.btn-form-create {
    padding: 15px;
    border: none;
    background-color: #FF5C78;
    color: white;
    border-radius: 8px;
}

@media (max-width: 680px) {
    .form-create {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-create-vacant {
        width: 300px;
    }
}