.card-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
}

.form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    font-size: 20px;
    padding: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.input-type {
    width: 380px;
    border: none;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    color: black;
}

.button {
    width: 250px;
    height: 50px;
    background-color: #FF5C78;
    color: white;
    border: none;
    border-radius: 8px;
}

@media (max-width: 680px) {

    .form-login {
        width: 250px;
        font-size: 15px;
    }

    .input-type {
        width: 250px;
    }

}